.Pay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 10vh;
    background: url('../../assets/bg.png') center;
}

.Signs{
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    left: 0;
    top: 10vh;
    background: url('../../assets/bg.png') center;
}