.event-card {
  margin: 10px 20px;
  width: 600px;
  max-height: 55vh;
}
.event-card:hover {
  cursor: pointer;
  /* border: 1px solid #3c4b69; */
}

.event-card .css-46bh2p-MuiCardContent-root {
  display: flex;
  gap: 1em;
  /* height: 100%; */
}
.event-card .css-46bh2p-MuiCardContent-root .date {
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.event-card .css-46bh2p-MuiCardContent-root .date .month {
  font-size: larger;
}

.event-card .css-46bh2p-MuiCardContent-root .MuiTypography-root:nth-child(3) {
  display: flex;
  align-items: center;
}
