.profile {
  background-color: rgb(239, 243, 248);
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: white;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: white;
}

.portrait {
  /*background: url("../../assets/account1.jpg") center;*/
}

.accountBg {
  min-height: 100vh;
  background-image: url('../../assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
}
