.landing_main_container {
  width: 100vw;
}

.landing_main_container .MuiTabs-root {
  width: 100%;
}

.landing_main_container .MuiTabs-root .MuiTabs-flexContainer {
  justify-content: space-evenly;
}
.landing_main_container .MuiTabs-root .MuiTabs-flexContainer button {
  color: #3c4b69;
}

.landing_main_container .MuiTabs-root .css-1aquho2-MuiTabs-indicator {
  background-color: #3c4b69;
}
