.landing_main_container {
  /* background-image: url('../../assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw;
  /* height: 70px; */
}

.landing_main_container .MuiTabs-root {
  width: 100%;
}
/* .landing_main_container .MuiTabs-root .MuiTabs-scroller {
} */

.landing_main_container .MuiTabs-root .MuiTabs-flexContainer {
  justify-content: space-evenly;
}
.landing_main_container .MuiTabs-root .MuiTabs-flexContainer button {
  color: #3c4b69;
}

.landing_main_container .MuiTabs-root .css-1aquho2-MuiTabs-indicator {
  background-color: #3c4b69;
}

.landing_main_container > .MuiTabPanel-root {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;

  /* background-color: #576f9d;
  border-radius: 5px; */
}

.landing_main_container .MuiTabPanel-root .events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.landing_main_container .MuiTabPanel-root .loadmore {
  width: 300px;
  color: white;
  background-color: #4f4cee;
  margin: 0 auto;
  left: calc(50% - 150px);
}
