.header {
  width: 100vw;
  background: url('../../assets/banner.svg') no-repeat;
  /* background-size: cover; */
  background-size: 100% 120%;
  background-position: bottom;
  /* height: 550px; */
  height: 25vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.header .title {
  margin: 0.5rem;
  font-size: 4rem;
  color: #3c4b69;
}

.header .header_search {
  position: absolute;
  width: 100%;
  bottom: -50px;
  display: flex;
  justify-content: center;
}
