.header {
  width: 100vw;
  background-image: url('../../assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 464px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.header .title {
  margin: 0;
  color: #3c4b69;
}

.header .search_container {
  position: absolute;
  width: 80%;
  height: 70px;
  bottom: -50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 3px solid #3c4b69;
  border-radius: 5px;
}

.header .search_container .search_box {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.header .search_container .search_box .search_date_text {
  width: 60%;
  margin-left: 20px;
  color: #7b7b7b;
  word-spacing: 20px;
  cursor: pointer;
}

.header .search_container .search_box .date_picker {
  /* background: #000; */
  position: absolute;
  top: 70px;
  z-index: 3;
}

.header .search_container .search_box .search,
.search_box fieldset {
  flex: 1;
  border: none;
}

.header .search_container .search_box input {
  font-size: 18px;
  background-color: transparent;
  color: #7b7b7b;
  outline: none;
  margin-left: 20px;
}

.header .search_container .search_box .search_button {
  width: 100px;
  margin: 0 20px;
  background-color: #576f9d;
}

.header .search_container .search_box .search .MuiOutlinedInput-root {
  display: flex;
  flex-direction: row-reverse;
}
