.search_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.sidebar {
  min-width: 250px;
  min-height: 120vh;
  /* position: absolute; */
  flex: 2;
  /* left: 0;
  top: 10vh; */
  background-color: #eee;
  z-index: 2;
  padding-left: 25px;
}

.right_main {
  margin-top: 20px;
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.Events {
  display: flex;
  top: 10vh;
  /* margin-left: 300px; */
  flex-wrap: wrap;
  min-height: 120vh;
  margin-top: 20px;
}
